/*******************
    HTML Tags
********************/
a {
    text-decoration: none;
}
body {
    background: #f4f4f4;
    font-family: 'Open Sans', Verdana, Arial;
    font-size: 16px;
    line-height: 1.5em;
    padding-top: 50px;
}       
figure {
    margin: 0;
}
h1 {
    font-size: 1.5em;
}
h1, p {
    margin-bottom: 10px;
}
strong {
    font-weight: bold;
}

/* -------- LOGIN ---------- */
form fieldset input[type="text"], input[type="password"] {
    background-color: #e5e5e5;
    border: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #5a5656;
    font-family: 'Open Sans', Verdana, Arial;
    font-size: 14px;
    height: 50px;
    outline: none;
    padding: 0 10px;
    width: 280px;
    -webkit-appearance: none;
}
form fieldset input[type="submit"] {
    background-color: #008dde;
    border:none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #f4f4f4;
    cursor: pointer;
    font-family: 'Open Sans', Verdana, Arial;
    height: 50px;
    text-transform: uppercase;
    width: 300px;
    -webkit-appearance: none;
}

form fieldset a {
    color: #5a5656;
    font-size: 10px;
}
form fieldset a:hover {
    text-decoration: underline;
}

/*******************
    ID's
********************/
#content {
    background: #f4f4f4;
}

#home-content,
#closetome-content,
#showplace-content {
    padding-top: 0;
}

#login {
    margin: 50px auto;
    width: 300px;
}

/*******************
    Classes
********************/

.btn-round {
    background-color: #5a5656;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    color: #f4f4f4;
    display: block;
    font-size: 12px;
    height: 50px;
    margin: 30px auto;
    padding-top: 12px;
    text-align: center;
    text-transform: uppercase;
    width: 50px;
}
.facebook-before {
    background-color: #0064ab;
    border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    color: #f4f4f4;
    display: block;
    float: left;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
}
.facebook {
    background-color: #0079ce;
    border: none;
    border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    color: #f4f4f4;
    cursor: pointer;
    height: 50px;
    text-transform: uppercase;
    width: 250px;
}
.twitter-before {
    background-color: #189bcb;
    border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    color: #f4f4f4;
    display: block;
    float: left;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
}
.twitter {
    background-color: #1bb2e9;
    border: none;
    border-radius: 0px 3px 3px 0px;
    -moz-border-radius: 0px 3px 3px 0px;
    -webkit-border-radius: 0px 3px 3px 0px;
    color: #f4f4f4;
    cursor: pointer;
    height: 50px;
    text-transform: uppercase;
    width: 250px;
}

.img-list-item {
	display: inline-block;
	margin-right: 1em;
}
.list-body {
	display: inline-block;
}
.navbar-header {
    padding-left: 1.3em;
}
.navbar-green {
    background: #159a01;
    border-width: 0;
    color: #fff;
    position: absolute;
    top: 0;
    width: 100%;
}
.navbar .navbar-form{
    padding: 0 15px;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.rating {
    overflow: hidden;
    display: inline-block;
}
.rating-input {
    float: right;
    height: 16px;
    margin: 0 0 0 -16px;
    opacity: 0;
    padding: 0;
    width: 16px;
}
.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star,
.rated ~ .ratingstar {
    background-position: 0 0;
}
.rating-star,
.ratingstar,
.rating:hover .rating-star {
    position: relative;
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url('../img/star.png') 0 -16px;
}

.snapjs-right .snap-drawer-left {
    display: block;
    left: auto;
    right: 0;
}
.snapjs-right .snap-drawer-right {
    display: none;
}
