/*******************
    HTML Tags
********************/
figure {
    margin: 0;
}


/*******************
    ID's
********************/
#home-content,
#closetome-content,
#showplace-content {
    padding-top: 0;
}

/*******************
    Classes
********************/

.img-list-item {
	display: inline-block;
	margin-right: 1em;
}
.list-body {
	display: inline-block;
}