
<div class="navbar-header">
    <button id="back-btn" type="button" class="btn btn-default navbar-btn pull-left">Back</button>
    <div class="col-xs-8">
        <form class="navbar-form navbar-left form-inline" id="search" role="search">

            <div class="form-group-group">
                <div class="input-group" style="width: 220px;">
                    <input type="text" id="searchText" class="form-control" placeholder="Search">
                    <span class="input-group-btn">
                        <button id="searchBtn" class="btn btn-default" type="button"><b class="glyphicon glyphicon-search"></b></button>
                    </span>
                </div>
            </div> <!-- END form group div -->

        </form> <!-- END search bar form -->
    </div>
</div>