
<div class="media">
    <a class="pull-left" href="#est/<%= obj._id %>">
        <img class="img-list-item" src="<%= getImageThumbSrc(obj.profilePicture) %>" alt="Foto" class="img-responsive" width="80" height="80"/>
    </a>
    <div class="media-body">
        <h4 class="media-heading"><a href="#est/<%= obj._id %>"><%= obj.nombre %></a></h4>
        <div class="rating">
            <% _.each([5,4,3,2,1],function(n) { %>
                <span class="rating-input <% if(obj.ranking == n) { print('rated'); } %>"></span>
                <span class="ratingstar"></span>
                <%  });
            %>
        </div> 
        <p>      
            <%= obj.direccion %>
        </p>
    </div>
</div>
