<!-- Page #2 Left Panel of Options -->
<div data-role="panel" id="config-1" data-positon="left" data-display="overlay">
    <!-- Header of Panel -->
    <div class="panel-content">
        <h4>Configuración</h4>
    </div>
    
</div>
<!-- End of Left Panel of Options  -->
<!-- Header -->
<div data-role="header" class="ui-header">
    <a href="#config-1" data-rel="dialog" data-icon="gear" data-iconpos="notext" class="ui-btn-left">Configuration</a>
    <h1></h1>
</div>
<div data-role="content" class="ui-content" id="home-content">
    <!-- The carousel  -->
    <figure>
        <img src="js/holder.js/284x200" alt="Carousel" height="200px" width="100%" />
    </figure>
    <!-- End of the Carousel  -->
    
    <div data-role="navbar">
        <ul>
            <li><a href="#close-to-me" data-icon="location">Cerca de mi</a></li>
            <li><a href="#list-places" data-icon="search">Buscar</a></li>
        </ul>
        <ul>
            <li><a href="#" data-icon="plus">Emergencia</a></li>
            <li><a href="#" data-icon="info">Información Turística</a></li>
        </ul>
        <ul>
            <li><a href="#" data-icon="bullets">Restaurantes</a></li>
            <li><a href="#" data-icon="bullets">Hoteles</a></li>
        </ul>
    </div>
    <div class="ui-grid-solo" id="accelerometer"></div>
    <div class="ui-grid-solo" id="position"></div>
</div>