<!-- Page #2 Left Panel of Options -->
<div data-role="panel" id="config-1">
    
</div>
<!-- End of Left Panel of Options  -->

<div id="home-content">
    <!-- The carousel  -->
    <figure id="carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="active item">
                <img src="http://placehold.it/1280x800" alt="Carousel"/>
            </div>
        </div>
        <a href="#" class="right carousel-control" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
        <a href="#" class="left carousel-control" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
    </figure>
    <!-- End of the Carousel  -->
    
    <div>
         <div class="btn-group btn-group-justified">
            <a href="#nearMe" class="btn btn-default" role="button">Cerca de mí</a>
            <a href="#search" class="btn btn-default" role="button">Buscar</a>
        </div>
        <div class="btn-group btn-group-justified">
            <a href="#" class="btn btn-default" role="button">Emergencia</a>
            <a href="#" class="btn btn-default" role="button">Información Turística</a>
        </div>
        <div class="btn-group btn-group-justified">
            <a href="#" class="btn btn-default" role="button">Restaurantes</a>
            <a href="#" class="btn btn-default" role="button">Hoteles</a>
        </div>
    </div>

    
    <div class="ui-grid-solo" id="accelerometer"></div>
    <div class="ui-grid-solo" id="position"></div>
</div>